<div class="AddCustomer">
    <form class="form-inline">
        <strong>Customer Name</strong>
        <input class="form-control" type="text" placeholder="Name" ng-model="name"/>
        <select class="form-control" ng-model="product" placeholder="Product">
            <option value="">Choose Product</option>
            <option ng-repeat="product in products" value="{{product.name}}">{{product.name}}</option>
        </select>
        <button class="btn btn-info" ng-click="addCustomer()">Add</button>
    </form>
    <hr />
</div>
